.loader{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 5px dashed rgb(89, 171, 99);
    animation: rotate 4s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}