.btn{
    padding: 0.5rem 0.3rem;
    margin-left: 0.5rem;
    color: rgb(14, 132, 44);
    font-weight: bold;
    font-size: 1rem;
    background: transparent;
    border: 3px solid rgb(14, 132, 44);
    border-radius: 0.4rem;
    cursor: pointer;
    justify-content: left;
}