.select_button {
    width: 20%;
    margin: 0;
    padding: 10px 15px;
    border: 3px solid rgb(122, 218, 175);
    border-radius: 5px;
    color: rgba(14, 172, 101, 0.534);
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
}
.select_button:hover {
    background-color: #e0f7ea;
    border-color: rgb(14, 172, 101);
}

@media (max-width: 768px) {
  .select_button {
    width: calc(50% - 2rem);
  }
}