.delete_button{
    width: fit-content;
    border: none;
    color: #b03131;
    padding: 0.4rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}