*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(240, 255, 240);
}
.App{
    color: rgb(89, 171, 99);
    margin: 2rem;
}
.loader-overlay {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;       
  height: 100vh;        
  background: rgb(240, 255, 240);; 
  display: flex;       
  justify-content: center; 
  align-items: center;     
  z-index: 9999;        
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--text-main);
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 5px;
}

.nav-links a {
  margin-left: 2rem;
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}
