.page_wraper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.page{
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    border: 2px solid rgb(122, 218, 175);
    border-radius: 5px;
    color: rgba(14, 172, 101, 0.534);
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s, border-color 0.3s;

}

.page_current{
    background-color: #e0f7ea;
    color: rgb(27, 236, 12);
    border: 2px solid rgb(27, 236, 12);
    font-weight: bold;
}